body {
  font-family: Arial, Helvetica, sans-serif; }

header {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid grey;
  border-radius: 10px;
  margin: 0 0 5px 0; }
  header h1 {
    font-size: 1.25em; }

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 5px;
  row-gap: 5px;
  -webkit-column-gap: 5px;
  column-gap: 5px;
  height: calc(100vh - 122px);
  min-height: 465px; }

.containerFull {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  height: calc(100vh - 122px);
  min-height: 465px; }

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 15px;
  background: #e4e4e4;
  border-radius: 5px;
  border: 0.5px solid grey; }
  .box .dataYear p {
    margin: 0; }
  .box .colorInfo {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin: auto 0 auto 0; }
    .box .colorInfo .hexCode {
      text-transform: uppercase; }
  .box .dataMonth {
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin: auto 0 0 0; }

.footerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid grey;
  height: 22px;
  margin: 5px 0 0px 0;
  padding: 10px;
  border-radius: 6px; }

.primary {
  background: white;
  border: none; }
  .primary:focus {
    outline: none; }

.next {
  margin: 0 0 0 auto; }
