body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background: white;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    border: 1px solid grey;
    border-radius: 10px;
    margin: 0 0 5px 0;
    h1{
        font-size: 1.25em;
    }
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 5px;
    row-gap: 5px;
    column-gap: 5px;
    height: calc(100vh - 122px);
    min-height: 465px;
}
.containerFull{
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr;
    height: calc(100vh - 122px);
    min-height: 465px;
}
.box{
    display: flex;
    flex-direction: column;
    padding: 15px;
    background: rgb(228, 228, 228);
    border-radius: 5px;
    border: 0.5px solid grey;
    
    .dataYear{
        p{
            margin: 0;
        }
       // align-self: flex-start;
    }
    .colorInfo{
        align-self: center;
        margin: auto 0 auto 0;
        .nameColor{
       

        }
        .hexCode{
            text-transform: uppercase;
        }
    }
    .dataMonth{
        align-self: flex-end;
        margin: auto 0 0 0;

    }
}
.footerContainer{
    display: flex;
    border: 1px solid grey;
    height: 22px;
    margin: 5px 0 0px 0;
    padding: 10px;
    border-radius: 6px;

}
.primary{
    background: white;
    border: none;
    &:focus{
        outline: none;
    }
}
.next{
    margin: 0 0 0 auto;
}